In [10]:
from IPython.display import display, HTML
import pandas
pandas.set_option("display.max_rows", None, "display.max_columns", None)
df = pandas.read_csv('runs.txt', sep=' ', comment='#')
df.style.set_properties(**{'max-width': '200px', 'font-size': '15pt'})
HTML(df.to_html(index=False))